.orange-line {
    height: 30px;
    background-color: #FA7421;
    width: 100vw;
    position: relative; 
    max-width: 100vw;
    left: 50%;
    margin-left: -50vw;
    margin-top: -1vw;
}

.blue-line {
    background-color: #7C99FF;
    height: 100px;
    width: 100vw;
    position: relative; 
    max-width: 100vw;
    left: 50%;
    margin-left: -50vw;
    text-align: center;
}

.header {
   display: flex;
   flex-direction: column;
}


#pet-list {
    display: inline-flex;
    column-gap: 35px;
    row-gap: 35px;
    justify-content: space-around;
    width: 100%;
    justify-content: center;
    margin-top: 50px;
}

.pet-card {
    height: 140px;
    max-height: 140px;
    width: 240px;
    max-width: 240px;
    border: solid 10px #FA7421;
    border-radius: 8px;
    background-color: white;
    padding: 10px;
}

.add-button {
    height: 60px;
    width: 60px;
    border: none;
    border-radius: 50px;
    background-color: #FA7421;
    display: block;
    margin: auto;
    margin-top: 50px;
}

.popup-pet-window {
    border: solid 10px #FA7421;
    border-radius: 8px;
    background-color: white; 
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    width: 400px;
    height: 550px;
    text-align: center;
    padding-top: 30px;
    visibility: hidden;
}

.open-popup-pet-window {
    border: solid 10px #FA7421;
    border-radius: 8px;
    background-color: white; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 400px;
    height: 550px;
    text-align: center;
    padding-top: 30px;
    visibility: visible;
}

.close-pet {
    position: absolute;
    left: 385px;
    top: -23px;
    background-color:#6c87e8;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    border: none;
}

.close-pet:hover {
    background-color: #5069c3;
}

.edit-pet {
    background-color: #FA7421;
    position: absolute;
    top: 490px;
    left: 125px;
    height: 40px;
    width: 70px;
    border: none;
    border-radius: 5px;
}

.edit-pet:hover {
    background-color: #bc5211;
}

.delete-pet {
    background-color: #FA7421;
    position: absolute;
    top: 490px;
    right: 125px;
    height: 40px;
    width: 70px;
    border: none;
    border-radius: 5px;
}

.delete-pet:hover {
    background-color: #bc5211;
}